:root {
    --color-main: #eedb00;
    --bg-color-gray: rgba(60, 69, 67, 0.6);
    --bg-color-danger: rgba(204, 3, 35, 0.5);
}

header, footer {
    background-color: var(--bg-color-gray);
}

main > .float-start {
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: justify;
}

footer {
    height: 5rem;
}

.rounded-bottom-left {
    border-bottom-left-radius: 2rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 2rem;
}

.btn-danger {
    background-color: var(--bg-color-danger);
    color: var(--color-main);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}