@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import "tailwindcss";

@theme {
    --font-poller: "Poller One", sans-serif;
    --background-image-sky: url("./assets/sky.jpg");
    --color-main: #eedb00;
    --color-gray: rgba(60, 69, 67, 0.6);
    --color-danger: rgba(204, 3, 35, 0.5);
    --shadow-hero: 0.6rem 0.6rem 0.6rem grey;
}

@layer base {
    body {
        @apply font-poller bg-fixed bg-sky text-main;
    }
}