@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

body {
    font-family: "Poller One", sans-serif;
    background-image: url("./assets/sky.jpg");
    color: var(--color-main);
    background-attachment: fixed;
}